Import first

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import scipy as sci
import scipy.stats as stats
import statsmodels.api as sm
import pandas as pd
from scipy.optimize import minimize

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

Let's create the variables first

In [2]:
s=1000
x1=stats.poisson(20).rvs(s)
x2=stats.norm(10, 3).rvs(s)
x0=np.ones((s, 1))
y=5+3*x1-x2+stats.norm(0, 1).rvs(s)

In [3]:
X=np.column_stack((x0, x1, x2))

In [4]:
# let's see the matrix method first
betahat=np.linalg.inv(X.T@X)@X.T@y

In [5]:
betahat

array([ 4.86810565,  3.00331764, -0.99173253])

In [6]:
#results are pretty close to our created parameters.

In [7]:
# let's take these to Pandas

In [8]:
data=pd.DataFrame(X, columns=['x0', 'x1', 'x2'])

In [9]:
data.head()

    x0    x1         x2
0  1.0  15.0  15.697614
1  1.0  22.0   7.255212
2  1.0  17.0  13.106842
3  1.0  20.0  10.150448
4  1.0  21.0  12.301229

In [10]:
data['y']=y

In [11]:
data.head()

    x0    x1         x2          y
0  1.0  15.0  15.697614  35.640989
1  1.0  22.0   7.255212  64.262837
2  1.0  17.0  13.106842  43.204606
3  1.0  20.0  10.150448  54.165944
4  1.0  21.0  12.301229  55.110736

In [ ]:
# stochastic gradient descent

In [21]:
count=0
p=0.9

thetaold=[0, 0, 0]
while count<100001:
    msk=np.random.rand(s)>p
    df=data[msk]
    error=df['y']-thetaold[0]-thetaold[1]*df['x1']-thetaold[2]*df['x2']
    thetaold[0]=thetaold[0]+0.00001*error@np.asarray(df['x0'])
    thetaold[1]=thetaold[1]+0.00001*error@np.asarray(df['x1'])
    thetaold[2]=thetaold[2]+0.00001*error@np.asarray(df['x2'])
    
    count=count+1

In [22]:
thetaold #estimated paramter values are close to the true values.

[4.648442255997662, 3.010588226355987, -0.9868052670208303]